body {
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
}

/*        Logo        */
#logo {
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*        Searchbar        */
#searchbar {
    display: flex;
    justify-content: space-between;
    background-color: #dcdcdcb2;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 3px;
}

/*        Input Searchbar        */
#input-searchbar {
    border: none;
    outline: none;
    width: 100%;
    background-color: #dcdcdc00;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/*        Icon Searchbar        */
.iconloupe {
    margin-left: 15px;
    font-size: x-large;
    cursor: pointer;
}

/*        Bannière des tags        */
#pourtags {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 3px;
    flex-wrap: wrap;
}

/*        Tag (test)        */
.tag1 {
    width: fit-content;
    height: 30px;
    background-color: #0077ee;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

/*        Tag (icon supprimer - close circle)        */
.fa-circle-xmark {
    color: white;
    margin: 15px;
    cursor: pointer;
}

/*        Les 3 boutons de recherche        */
#all-3-button {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: -5px;
}

/*        1er bouton : ingredients        */
.button1-ingredients {
    color: white;
    background-color: #0077ee;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 17px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#input-section-ingredients {
    display: none;
    background-color: #0077ee;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
}

#input-section-ingredients::placeholder {
    width: auto;
    height: auto;
    color: white;
    opacity: 0.6;
}

.button1-ingredients:focus {
    width: 517px;
    height: auto;
    display: flex;
    place-content: space-between;
}

.button1-ingredients:focus #name-section {
    display: none;
    transition: 1.5s;
}

.button1-ingredients:focus #input-section-ingredients {
    display: block;
    width: 200px
}

.button1-ingredients:focus .fa-chevron-down {
    margin-top: 2px;
    transform: rotate(180deg);
}

.button1-ingredients:focus .second-part-menu {
    display: grid;
    margin-top: 30px;
}

/*        Deuxième parti du menu déroulant        */
.second-part-menu {
    display: none;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    color: white;
    background-color: #0077ee;
    width: 489px;
    text-align: initial;
    margin-top: 12px;
    margin-left: -17px;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ingredient-choice {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 8px;
}

/*        2ème bouton : appareils        */
.button2-appareils {
    color: white;
    background-color: #00e99b;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 17px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#input-section-appareils {
    display: none;
    background-color: #00e99b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
}

#input-section-appareils::placeholder {
    color: white;
    opacity: 0.8;
}

.button2-appareils:focus {
    width: 517px;
    height: auto;
    display: flex;
    place-content: space-between;
}

.button2-appareils:focus #name-section {
    display: none;
    transition: 1.5s;
}

.button2-appareils:focus #input-section-appareils {
    display: block;
    width: 200px
}

.button2-appareils:focus .fa-chevron-down {
    margin-top: 2px;
    transform: rotate(180deg);
}

.second-part-menu2 {
    display: none;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    color: white;
    background-color: #00e99b;
    width: 489px;
    text-align: initial;
    margin-top: 12px;
    margin-left: -17px;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button2-appareils:focus .second-part-menu2 {
    display: grid;
    margin-top: 30px;
}

/*        3ème bouton : ustensiles        */
.button3-ustensiles {
    color: white;
    background-color: #FF6347;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 17px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#input-section-ustensiles {
    display: none;
    background-color: #FF6347;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
}

#input-section-ustensiles::placeholder {
    color: white;
    opacity: 0.8;
}

.button3-ustensiles:focus {
    width: 517px;
    height: auto;
    display: flex;
    place-content: space-between;
}

.button3-ustensiles:focus #name-section {
    display: none;
    transition: 1.5s;
}

.button3-ustensiles:focus #input-section-ustensiles {
    display: block;
    width: 200px
}

.button3-ustensiles:focus .fa-chevron-down {
    margin-top: 2px;
    transform: rotate(180deg);
}

.second-part-menu3 {
    display: none;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    color: white;
    background-color: #FF6347;
    width: 489px;
    text-align: initial;
    margin-top: 12px;
    margin-left: -17px;
    padding: 10px;
    padding-left: 18px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button3-ustensiles:focus .second-part-menu3 {
    display: grid;
    margin-top: 30px;
}

/*        Icon Chevron Button        */
.fa-chevron-down {
    margin-left: 20px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin-right: 25px;
    margin-left: 25px;
}

/*        Card        */
.recipe-card {
    min-width: 350px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.recipe-card a {
    text-decoration: none;
    background-color: #dcdcdcb2;
}

/*        Card - image        */
.grey-image {
    width: 100%;
    height: 180px;
    background-color: #e2e2e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*        Card - corps        */
.card-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #dcdcdcb2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1px;
}

/*        Card titre + icon clock + temps recette        */
.card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*        Card - titre        */
.recipe-title {
    color: black;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

/*        Card - icon clock + temps recette        */
.recipe-timing {
    display: flex;
    align-items: center;
}

/*        Card - icon clock        */
.icon-clock {
    color: black;
    margin-top: -6px;
}

/*        Card - temps recette        */
.recipe-time-to-prepare {
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    margin-left: 7px;
    margin-top: 10px;
}

/*        Card part recipe        */
.card-recipe-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

/*        Card - all recipe        */
.all-recipe-ingredients {
    list-style: none;
    padding-left: 0;
    margin-top: 0px;
    margin-right: 25px;
}

/*        Card - ingredient (dossage)        */
.ingredient {
    color: black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

/*        Card - ingedient bold        */
.ingredient-bold {
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

/*        Card - description recipe        */
.recipe-description {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-left: 25px;
}

@media screen and (max-device-width: 1149px) {

    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-device-width: 885px) {

    main {
        grid-template-columns: 1fr;
    }

    .recipe-card {
        max-width: 490px;
    }

    #all-3-button {
        flex-direction: column;
        width: 55%;
        margin-left: 22.5%;
    }

    .button1-ingredients {
        margin-right: 0px;
    }

    .button1-ingredients:focus {
        width: auto;
    }

    .button2-appareils {
        margin-right: 0px;
    }

    .button2-appareils:focus {
        width: auto;
    }

    .button3-ustensiles {
        margin-right: 0px;
    }

    .button3-ustensiles:focus {
        width: auto;
    }

    .second-part-menu {
        grid-template-columns: 1fr 1fr;
        padding: 0%;
        padding-left: 18px;
    }
}

@media screen and (max-device-width: 400px) {

    .recipe-card {
        min-width: 325px;
    }
    
    .recipe-description {
        color: black;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .second-part-menu {
        grid-template-columns: 1fr;
        padding: 0%;
        padding-left: 18px;
    }
}
